modules = ["nodejs-20", "bash", "web", "postgresql-16", "python-3.11"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["imagemagick", "jq"]

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34015
externalPort = 3003

[[ports]]
localPort = 35615
externalPort = 9000

[[ports]]
localPort = 36723
externalPort = 3002

[[ports]]
localPort = 36993
externalPort = 5000

[[ports]]
localPort = 37091
externalPort = 5173

[[ports]]
localPort = 38087
externalPort = 8080

[[ports]]
localPort = 39059
externalPort = 8099

[[ports]]
localPort = 39627
externalPort = 6800

[[ports]]
localPort = 40945
externalPort = 6000

[[ports]]
localPort = 42683
externalPort = 8008

[[ports]]
localPort = 44015
externalPort = 8000

[[ports]]
localPort = 44191
externalPort = 4200

[[ports]]
localPort = 44201
externalPort = 3000

[[ports]]
localPort = 44317
externalPort = 3001

[[ports]]
localPort = 44505
externalPort = 8081

[agent]
